body {
  font-family: "PT Sans", sans-serif;
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #142d4c;
}

h1 {
  font-size: 22px;
  font-weight: 100;
  line-height: 28px;
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
}

ul {
  padding: 0;
  margin-top: 35px;
  margin-left: 50px;
}
li {
  list-style-type: none;
  font-size: 14px;
  font-weight: 100;
  line-height: 1.3;
}

li:first-letter {
  text-transform: capitalize;
}

a {
  text-decoration: none;
  color: #142d4c;
}

a:hover {
  color: #142d4c;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  border: 1px solid #142d4c;
  padding: 20px;
  border-radius: 5px;
  margin-top: 50px;
}

.row {
  margin-top: 20px;
}

.temperature {
  position: relative;
  top: 10px;
  font-size: 64px;
  font-weight: 100;
  line-height: 1;
  margin: 0.5;
}

.weather-temperature img {
  margin-right: 10px;
  margin-top: 5px;
  height: 64px;
  width: 64px;
}

.units {
  position: relative;
  top: -24px;
}

#celsius {
  text-decoration: none;
}

#farenheit {
  text-decoration: none;
}

a {
  text-decoration: underline;
}

.weather-icon {
  position: relative;
  bottom: 10px;
  height: 64px;
  margin-right: 10px;
}

.btn {
  border: 1;
  line-height: 2.1;
  padding: 0 15px;
  font-size: 1rem;
  text-align: center;
  color: #142d4c;
  border-radius: 10px;

  opacity: 0.8;
  transition: all 0.25s ease-out;
}

.btn:hover {
  background-color: #142d4c;
  color: white;
}

.weekday {
  font-size: 16px;
}

.icons {
  line-height: 30px;
  font-size: 20px;
}
.temperatures {
  font-size: 13px;
}

#city-form {
  margin-left: 30%;
}
