body {
  font-family: "PT Sans", sans-serif;
  background: linear-gradient(
    111.4deg,
    rgb(209, 231, 235) 7.4%,
    rgb(238, 219, 199) 51.4%,
    rgb(255, 159, 122) 82.6%,
    rgb(255, 109, 58) 100.2%
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #142d4c;
}

h1 {
  font-size: 22px;
  font-weight: 100;
  line-height: 28px;
  margin: 0;
  text-align: center;
  padding-bottom: 5px;
}

h6 {
  text-align: center;
  line-height: 0.8;
}

h6::first-letter {
  text-transform: capitalize;
}

a {
  color: #589aeb;
  text-decoration: underline;
}

a:hover {
  color: #142d4c;
}

#city-input {
  font-size: 16px;
  color: #142d4c;
  line-height: 1;
  background-color: whitesmoke;
  border: none;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: 95% 80%;
  width: 100%;
  padding: 10px;
  margin-left: -5px;
  cursor: auto;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  border: 1px solid #142d4c;
  padding: 20px;
  padding-top: 30px;
  border-radius: 10px;
  margin-top: 50px;
}

.row {
  margin-top: 40px;
}

.weather-temperature {
  text-align: center;
}

.temperature {
  position: relative;
  top: 20px;
  font-size: 64px;
  font-weight: 100;
  line-height: 1;
  margin: 0.5;
}

.weather-temperature img {
  position: relative;
  margin-right: 5px;
  margin-top: 10px;
  height: 70px;
  width: 70px;
}

.units {
  position: relative;
  top: -10px;
  font-size: 20px;
}

.scrolling-wrapper {
  overflow-y: auto;
  overflow-x: hidden;
  height: 145px;
  max-width: 100%;
}

.card-block {
  height: 7px;
  max-width: 90%;
  background-color: transparent;
  border: none;
  transition: all 0.2s ease-in-out;
}

::-webkit-scrollbar {
  width: 10px;
  border: 1px solid lightgrey;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: lightgrey;
  border: none;
  border-radius: 10px;
}

#forecast-icon {
  position: relative;
  margin-top: -10px;
}
