body {
  font-family: "PT Sans", sans-serif;
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #142d4c;
}

h1 {
  font-size: 22px;
  font-weight: 100;
  line-height: 28px;
  margin: 0;
}
ul {
  padding: 0;
  margin-bottom: 10px;
}
li {
  list-style-type: none;
  font-size: 16px;
  font-weight: 100;
  line-height: 1.3;
}

a {
  text-decoration: none;
  color: #142d4c;
}

a:hover {
  color: #142d4c;
}

.temperature {
  position: relative;
  top: 6px;

  font-size: 46px;
  font-weight: 100;
  line-height: 64px;
  margin: 0.5;
}

.units {
  position: relative;
  top: -16px;
}

.weather-icon {
  position: relative;
  bottom: 10px;
  height: 64px;
  margin-right: 10px;
}

.weatherApp {
  border: 1px solid #142d4c;
  padding: 15px 15px 100px 15px;
  margin: auto;
  max-width: 600px;
  border-radius: 5px;
  backdrop-filter: blur(15px);
  margin-top: 50px;
}

.btn {
  border: 1;
  line-height: 2.1;
  padding: 0 15px;
  font-size: 1rem;
  text-align: center;
  color: #142d4c;
  border-radius: 10px;

  opacity: 0.8;
  transition: all 0.25s ease-out;
}

.btn:hover {
  background-color: #142d4c;
  color: white;
}

.weekday {
  font-size: 18px;
}

.icons {
  line-height: 30px;
  font-size: 24px;
}
.temperatures {
  font-size: 16px;
}
